.test {
    color: red;
}

.img-mobile-wapper {
    width: 400px;
    height: 300px;
}

img{
    width: auto;
    height: 100%;
}
button,input{
    box-shadow: none !important;
    outline: none !important;
}